.haut{
    width:102%;
    background: url(image.jpeg);
    background-repeat:repeat-x;
    /*#ff6863*/
    height:500px;
    box-sizing: border-box;
    padding-top: 130px;
    margin-top: -160px;
    margin-left: -8px;
    position: fixed;

}
.appname{
    font-size: 28px;
    margin-left: 120px;
    margin-top: 50px;
    color: #222;
}

.loginicon{
   margin-top: -55px;
   margin-left: 1260px;
   cursor: pointer;
}

.menuicon{
    margin-top: -30px;
    margin-left: 1330px;
    cursor: pointer;
 }

 .nav {
     margin-left: 530px;
     padding: 0;
     margin-top: -10px;
 }
 .nav li{
     list-style: none;
     float: left;
     font-size: 17px;
 }
 .nav li a{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color:#222;
 }

 .nav li a:hover{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color:#eee;
    padding: 10px 25px 10px 25px ;
    border-radius: 10px;
 }


/*ng add @angular/material*/

