<div class="haut">
    <p>

    </p>
    <h1 class="appname">STUDENITY</h1>
    <div class="loginicon">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="#222" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
    </div>
    <div class="menuicon">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#222" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </div>
    <ul class="nav">
        <li><a href="#" style="border-right: 1px solid;">Acceuil</a></li>
        <li><a href="#" style="border-right: 1px solid;">Offres</a></li>
        <li><a href="#" style="border-right: 1px solid;">Aides aux devoirs</a></li>
        <li><a href="#">Forum</a></li>
    </ul>

    <app-barre-de-recherche></app-barre-de-recherche>
    <div style="margin-top: 200px;">
        <app-diaporama></app-diaporama>
    </div>
    <div style="margin-top: -100px;font-size: 30px;text-align: center;">
        <app-hello-component></app-hello-component>
    </div>

</div>

